<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>这是酒店管理员的主界面</h2>
<form action="/logout" method="get">
    <button name="hotel">注销</button>
</form>
<!--这里需要操作管理员管理的酒店信息和酒店的客房信息-->
<!--用一个按钮决定是否修改-->
<hr>
<h2>查看或修改酒店信息</h2>
<form  action="/manager/hotelact" >
    <button name="HotelId" value="{{HotelId}}">查看酒店信息</button>
</form>
<hr>
<h2>查看或修改客房信息</h2>
<form action="/manager/roomact">
    <button name="HotelId" value="{{HotelId}}">查看酒店客房信息</button>
</form>

<hr>
<!--为了之后做多线程准备的-->
<!--这里等会展示一个表格-->
<h2>秒杀room列表</h2>
{% if rooms %}
    {%for room in rooms%}

<form >

<label  class="sr-only">房间Id</label>
    <input type="text" name="RoomId"  value="{{room.RoomId}}" placeholder="客户名" readonly="readonly">

<label  class="sr-only">房间类型</label>
    <input type="text" name="Type"  value="{{room.Type}}" readonly="readonly">

<label  class="sr-only">房间价格</label>
    <input type="text" id="price" name="roomPrice" value="{{room.Price}}" readonly="readonly">


<label  class="sr-only">房间数量</label>
    <input type="text" name="NumofRoom"  value="{{room.NumofRoom}}"  readonly="readonly">

    <input name="Num" placeholder="补货量"   type="text" >
    <button name="add" value="room.RoomId">补货</button>
</form>


    {%endfor%}
{% endif%}

{% for message in get_flashed_messages() %}
    <p>{{message}}</p>
{% endfor%}
</body>
</html>